//svg tspan:hover {
//  fill: rgb(152,152,152);
//  cursor: pointer;
//}
svg tspan {
  fill: rgb(152,152,152);
  pointer-events: none;
}

svg tspan .selected {
  fill: rgb(152,152,152);
}
svg rect:hover {
  fill: rgba(152,152,152,0.5);
  cursor: pointer;
  pointer-events: all;
}

svg rect {
  fill: none;
  cursor: pointer;
  pointer-events: all;
}

.card:not(:first-child) {
  margin-top: 20px;
}

.card a:hover {
  cursor: pointer;
  color: rgb(152,152,152);
}

.card {
  margin-left: 20px;
}

.selected {
  fill: rgba(152,152,152,0.5);
}
