<div class="row container-fluid editor">
  <div class="col-md-3">
    <div class="row card">
      <div class="card-body">
      <h3 class="text">Verhaallijn</h3>
      <ul>
        <!-- <li *ngFor="let svg of svgList"><a (click)="selectSvg(svg)">{{svg.name}}</a></li> -->
      </ul>
    </div>
    </div>
    <div class="row card">
      <div [ngSwitch]="selectedElement?.svgElement.elementType" class="card-body">
        <app-paragraph *ngSwitchCase="elementTypes.TEXTELEMENT" [selectedElement]="selectedElement" [text]="text"></app-paragraph>
        <app-images *ngSwitchCase="elementTypes.IMAGEELEMENT"  [selectedElement]="selectedElement"></app-images>
      </div>
    </div>
  </div>
  <div  class="col-md-9">
    <div class="card ">
      <div class="svgEditor card-body" (click)="svgClick($event)" [innerHtml]="svgDom?.documentElement.outerHTML | safe"></div>
    </div>
  </div>
</div>

