// css for rect to be selected
svg tspan {
  pointer-events: none;
}

svg foreignObject {
  pointer-events: none;
}

svg text {
  pointer-events: none;
}

svg image {
  pointer-events: none;
}

// selected rect
svg rect:hover {
  fill: rgba(152,152,152,0.5);
  cursor: pointer;
  pointer-events: all;
}

svg rect {
  fill: none;
  cursor: pointer;
  pointer-events: all;
}

.selected {
  fill: rgba(152,152,152,0.5);
}

// css for
.card:not(:first-child) {
  margin-top: 20px;
}

.card a:hover {
  cursor: pointer;
  color: rgb(152,152,152);
}

.card {
  margin-left: 20px;
}

body {
  background-color: #050a26;
}

.card {
  background-color: #092138;
}

.svgEditor {
  // margin: 5rem !important;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}

.svgEditor ol {
  margin-left: 1em;
}

.svgEditor ul {
  margin-left: 1em;
}

.text {
  color: white;
}

.boxsizingBorder {
  width: 100%;
  white-space: pre-wrap;
}