.tool {
    width: 30px;
    height: 30px;
    margin: 2.5px;
    text-align: center;
}

 .mat-button-wrapper {
     vertical-align: middle;
 }

 .mat-button {
     line-height: 0;
     min-width: 0;
     padding: 0;
 }

 .icon {
     vertical-align: middle;
 }