<div class="row">
  <div class="col-md-3 ">
    <div class="row card">
      <h3>Verhaallijn</h3>
      <ul>
        <li *ngFor="let svg of svgList"><a (click)="selectSvg(svg)">{{svg.name}}</a></li>
      </ul>
    </div>
    <div class="row card">
      <div class="card-body">
        <h3>Text editor</h3>
        <textarea class="" cols="50" rows="5" (input)="editText($event.target.value)"
                  [value]="textAreaString"></textarea>
      </div>
    </div>
  </div>
  <div  class="col-md-8">
    <div (click)="svgClick($event)" [innerHtml]="svgDom.documentElement.outerHTML | safe"></div>
    <svg><text></text></svg>
  </div>
</div>
