#text-editor {
    background-color: white;
    line-height: 1.5 !important;
    display:inline-block;
    border-top: solid 1px grey;
    width: 100%;
    padding: 5px;
    margin-bottom: 0px;
}

#text-editor p {
    text-align: left !important;

}

#toolbar {
    background-color: #fafafa;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
